<header>
    <div class="ui grid container">
        <div class="two column row">
            <div class="column">
                <h1 id="header-title" class="ui header">Fibi</h1>
            </div>
            <div class="right aligned column">
                <a href="/auth/logout">
                    <button class="ui basic button">Đăng xuất</button>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="ui divider"></div>
<div class="ui divider hidden" style="height: 40px;"></div>
<script>
    $('#header-title').on('click', function () {
        document.location.href = "/";
    });
</script>