<div id="survey-container" style="display:inline-block;width:100%;"></div>

<script>
    const survey = new Survey.Model({{{ data }}}, "survey-container");
    //Use onComplete event to save the data
    survey.onComplete.add(sendDataToServer);

    function sendDataToServer(survey) {
        const resultAsString = JSON.stringify(survey.data);
        $.post('/answers', { form: '{{id}}', data: resultAsString }, data => {
            if (!data) {
                $("body").toast({
                    class: "error",
                    position: "bottom right",
                    message: "Đã xảy ra lỗi trong quá trình gửi câu trả lời"
                });
            }
        });
    }
</script>