{{> header }}
<div class="ui container">
  <div class="ui breadcrumb">
    <a class="section" href="/forms">Form của tôi</a>
    <i class="right angle icon divider"></i>
    <a class="active section" href="/forms/new">Tạo form</a>
  </div>
  <div class="ui divider hidden"></div>
  <div class="ui grid">
    <div class="right aligned column">
      <button class="ui positive button" onclick="create()">Lưu</button>
    </div>
  </div>
</div>
<div id="survey-creator-container"></div>

<script src="/js/survey-creator-init.js"></script>
<script>
  creator.text = "";
  
  function create() {
    const data = JSON.parse(creator.text);
    if (!data.title) data.title = "(Không có tiêu đề)";
    $.post("/forms", { data: JSON.stringify(data) }, result => {
      if (!!result) {
        document.location.href = `/forms?new=${result}`;
      }
      else {
        $("body").toast({
          class: "error",
          position: "bottom right",
          message: "Đã xảy ra lỗi trong quá trình lưu form!"
        });
      }
    });
  }
</script>