<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  {{!-- SurveyJS --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <link href="https://surveyjs.azureedge.net/1.7.6/survey-creator.css" type="text/css" rel="stylesheet" />
  <script src="https://surveyjs.azureedge.net/1.7.6/survey.ko.min.js"></script>
  <script src="https://surveyjs.azureedge.net/1.7.6/survey-creator.min.js"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
</body>

</html>